h2
{
 color:rgb(255,255,255);
 border-color:blue;
 border-width:.25em;
 border-style:double;
 width:50%;
 background-color:Tomato;
 }
.form-group
{
    background-color:rgb(200,200,200)
}
h6
{
font-family:serif;
}

#brand
{
    background-color : #3CB371;
    color:#ffffff;
}

#location
{
    background-color : #FFF002;
    color:#000000;
}

#transmission
{
    background-color : #00FF00;
}

#fuel
{
    background-color : #E20A0A;
    color:#ffffff;
}
#owner
{
    background-color : #FFC0CB;
}
 input[type=text] {   
        padding: 10px 10px;   
        display: inline-block;   
        border: 3px solid black;   
        box-sizing: border-box;   
   }
